/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */
/* icons */
.sidebar i {
  color: #2d6bdc !important;
}
/* sidebar selected items */
.list-item-wrapper.-selected {
  background: #e5e5e5;
}
/* sidebar hover items */
[role="treeitem"]:hover {
  background: #cbdaf1 !important;
}
/* NOTEBOOKS and TAGS title */
div[role="treeitem"] div span {
  color: #7e7c7e;
}
/* notebook sidebar */
[role="navigation"][aria-label="Sidebar"] {
  background-color: #f4f5f6;
}
/* notebook title */
span.title {
  color: #000;
}
/* notes in notebooks and tags */
div.note-count-label {
  color: #666466;
}
/* tag title */
a.list-item {
  color: #000;
}
/* synchronize */
button:has(.icon-sync) {
  background-color: #2d6bdc;
}
button:has(.icon-sync):hover {
  background: #1e54b6;
  color: #fff;
}
.sidebar > div:nth-child(2) div {
  color: #000;
}
/* markdown diff */
pre:has(span):has(span.cm-positive) {
  background: #dafbe1 !important;
}
pre:has(span):has(span.cm-negative) {
  background: #ffebe9 !important;
}
/* joplin-plugin-metis */
.cm-todo-prior-A {
  color: #e60000 !important;
}
.cm-todo-prior-B {
  color: #d9a212 !important;
}
.cm-todo-prior-C {
  color: #338320 !important;
}
.cm-todo-prior-D {
  color: #0b3d92 !important;
}
.cm-todo-context {
  color: #2c96ff !important;
}
.cm-todo-project {
  background-color: #fdc44d !important;
}
