/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */
/* joplin-plugin-metis */
.cm-todo-prior-A {
  color: #e60000 !important;
}
.cm-todo-prior-B {
  color: #d9a212 !important;
}
.cm-todo-prior-C {
  color: #338320 !important;
}
.cm-todo-prior-D {
  color: #0b3d92 !important;
}
.cm-todo-project {
  background-color: #cdccb8 !important;
}
